- types = ['', 'action', 'success', 'danger', 'info', 'clean', 'hollow']
- sizes = ['smallest', 'small', 'big', 'biggest']
- widths = ['wide', 'wider']

a.anchor(name="buttons")

h1 Buttons

hr

ul.examples.buttons
  - for type in types
    li
      label .#{type}

      .example(class=type)
        button(class=type) Submit

        | 

        button(class=type disabled=true) Disabled

ul.examples.buttons
  - for size in sizes
    li
      label <strike>.#{size}</strike>

      .example
        button(class=size) Submit

ul.examples.buttons
  - for width in widths
    li
      label <strike>.#{width}</strike>

      .example
        button(class=width) Submit

label .widest

button.widest Submit

