- types = ['', 'action', 'success', 'danger', 'info', 'clean', 'hollow']

a.anchor(name="buttons")

h1 Buttons

hr

ul.examples.buttons
  - for type in types
    li
      label .#{type}

      .example(class=type)
        button(class=type) Submit

        | 

        button(class=type disabled=true) Disabled


