- icons = ['checkmark', 'checkmark-white', 'bubble', 'envelope', 'circle-arrow', 'circle-arrow.right', 'arrow', 'arrow.right', 'warning', 'download', 'cross', 'plus', 'plus.hollow']
- sizes = ['smallest', 'small', '', 'big', 'biggest']

a.anchor(name="icons")

h1 Icons

hr

- for icon in icons
  h2 #{icon}

  ul.examples.icons
    - for size in sizes
      li
        label <strike>.icon.#{icon}.#{size}</strike>

        .example.icon(class="#{icon.replace('.', ' ')} #{size}")